.ukm_wrap{
    width: 100%;
    margin-top: 2%;
}
.table_ukm{
    width:75%;
    margin-left: 12.5%;
}
.head_table{
    text-align: center;
    border-bottom: 1px solid;
    border-color: #c8cace;
    background-color: #54bef7;
}
.body_table{
    text-align: center;
}
#tombol_detail{
    background-color: #54bef7;
    border: none;
}
.baris_ukm{
    border-bottom: 1px solid;
    border-color: #c8cace;
}
#tombol_daftar{
    background-color: #54bef7;
    border: none;    
}
#daftar_ukm{
    background-color: #54bef7;
    border: none;
}
.form_tambah_ukm{
    margin-top: 5%;
}

#tabel_berita{
    margin-top: 5%;
}
.drop_gambar{
    background-color: #fff;
    /* padding: 40px 50px;
    margin-bottom: 30px; */
    width: 33.3%;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url(../img/border-image.png) 25 repeat;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #7f858a;
}
#drop_gambar1{
    float: left;
}
#drop_gambar2{
    float: left;
}
#drop_gambar3{
    float: left;
}
.profil_ukm{
    width: 100%;
    height:210px;
}
.file_content{
    margin-top:5%;
    text-align:center;
}
.event_file{
    margin-left: 35%;
    width: 30%;
    /* border:1px solid; */
    margin-bottom: 5%;
}
/* .ukm_img1{
    width: 33.3%;
    height: 50%;
    float: left;
    text-align: center;
    background-image: url('../images/iqma.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ukm_content1{
    width: 33.3%;
    height: 50%;
    background-image: linear-gradient(to top right, white , #54bef7);
    float: left;
    text-align: center;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.8;
}
.ukm_img1:hover .ukm_content1{
    width: 100%;
}
.ukm_img2{
    width: 33.3%;
    height: 50%;
    float: left;
    text-align: center;
    background-image: url('../images/pramuka.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ukm_content2{
    width: 33.3%;
    height: 50%;
    background-image: linear-gradient(to top right, white , #54bef7);
    float: left;
    text-align: center;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.8;
}
.ukm_img2:hover .ukm_content2{
    width: 100%;
}
.ukm_img3{
    width: 33.3%;
    height: 50%;
    float: left;
    text-align: center;
    background-image: url('../images/uptq.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ukm_content3{
    width: 33.3%;
    height: 50%;
    background-image: linear-gradient(to top right, white , #54bef7);
    float: left;
    text-align: center;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.8;
}
.ukm_img3:hover .ukm_content3{
    width: 100%;
}
.ukm_img4{
    width: 33.3%;
    height: 50%;
    float: left;
    text-align: center;
    background-image: url('../images/psht.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ukm_content4{
    width: 33.3%;
    height: 50%;
    background-image: linear-gradient(to top right, white , #54bef7);
    float: left;
    text-align: center;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.8;
}
.ukm_img4:hover .ukm_content4{
    width: 100%;
}
.ukm_img5{
    width: 33.3%;
    height: 50%;
    float: left;
    text-align: center;
    background-image: url('../images/padus.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ukm_content5{
    width: 33.3%;
    height: 50%;
    background-image: linear-gradient(to top right, white , #54bef7);
    float: left;
    text-align: center;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.8;
}
.ukm_img5:hover .ukm_content5{
    width: 100%;
}
.ukm_img6{
    width: 33.3%;
    height: 50%;
    float: left;
    text-align: center;
    background-image: url('../images/ukor.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ukm_content6{
    width: 33.3%;
    height: 50%;
    background-image: linear-gradient(to top right, white , #54bef7);
    float: left;
    text-align: center;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.8;
}
.ukm_img6:hover .ukm_content6{
    width: 100%;
} */
.text_biasa{
  color: black;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrap_sidebar {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1e453e;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}
.logo{
    width: 100%;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #1e453e;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #1e453e;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1e453e;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #1e453e;
}

a.article, a.article:hover {
    background: #1e453e !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
.wrap_table_pendaftaran{
    margin-top: 5%;
}

.wrap_form_pendaftaran_luar{
    width: 100%;
    background-color: white;
    height: auto;
    margin-top:5%;
}
#link_gforms{
    width: 50%;
}
#submit_link{
    margin-top:5px;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.container_berita{
    width: 50%;
    margin-top: 3%;
}
.container_form_berita{
    width: 100%;
    /* background-color: #fff; */
}
.judul_isi_berita{
    margin-top: 1%;
}
#isi_berita_textarea{
    resize: none;
}
.judul_gambar_berita{
    margin-top: 1%;
}
.judul_file_berita{
    margin-top: 1%;
}
.event_isi{
    text-align: justify;
    margin-top: 5%;
}
.judul_tabel_ukm{
    margin-top: 5%;
    text-align: center;
}
.search_filter_ukm{
    width: 25%;
    margin-top: 5%;
    margin-left: 62.5%;
}